<template  v-if="props.directory.type === 'directory' ">
  <div>
  <ul id="directory-control">
	<li 
	  class="dirname"  
	  v-if="foldersChildren.length > 0">
	  <span 
		class="caret text" 
		v-on:click="expandDir(props.directory, $event)">{{props.directory.name}}</span>
	  <ul class="children-control">
		<keep-alive>
		  <control 
			v-for="item in foldersChildren" 
		    @changeDir="changeDir"
			v-bind:directory="item">
		  </control>
		</keep-alive>
	  </ul>
	</li>
	<li v-else>
	  <span 
		class="control-path dirname no-children"
		v-on:click="changeDirTree(props.directory, $event)">{{props.directory?.name}}</span>	  
	</li>
  </ul>
  </div>
</template>

<script setup lang="ts">
import { NodeTree } from '../interfaces/NodeTree';
import { ref, computed, PropType } from 'vue';

 /*
	Props: input object that define item
  */
 const props = defineProps({
   directory: {
	 type: Object as PropType<NodeTree>, 
	 required: true
   }
 })

const emit = defineEmits(['changeDir']);

 const foldersChildren = computed(() => {
   if (props.directory){
	 if (props.directory.children){
	   return props.directory.children.filter( (item) =>
   item.type==='directory' )}else {return []} 
 } else {return []}}
 );

function expandDir(directory:NodeTree, event:Event) {
   let target = event.target as HTMLElement;
   target?.parentElement?.querySelector(".children-control")?.classList.toggle("active-control")
   target?.classList.toggle("caret-down");
   changeDirTree(directory, event);
 }

function changeDir(directory:NodeTree){
   emit("changeDir", directory);
 }

 function changeDirTree(directory:NodeTree, event:Event) {
   emit("changeDir", directory);
}

function currentDir(event:Event) {
}

</script>

<style scope>



ul,#directory-control {
  list-style-type: none;
  /*background: #22A2D0;*/
}


.control-path {
  margin-left: 10px;
  cursor: pointer;
}

.dirname {
  font-size: 14.5px;
}


.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  margin: 2px;
  height: 30px;

}

.caret:hover {
  font-weight: bold;
  color: #343233;
}

 /* Create the caret/arrow with a unicode, and style it */
 .caret::before {
   content: "\27A4";
   color: #343233;
   text-shadow: 1px 1px 2px black;
   display: inline-block;
   margin-right: 6px;
   font-size: 18px;
 }

.caret-down::before {
   transform: rotate(90deg);
   color: #b5b0b2;
 }


 /* Hide the nested list */
 .children-control {
   display: none;
 }

 /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
 .active-control {
   display: block;
 }

.no-children:hover {
  font-weight: bold;
  color: #343233;
}

</style>
