<template>
  <div class="container" v-if="dataLoaded">
  <div class="columns">
	<div class="column is-2 has-text-left">
	  <asyncControl
		:directory="datadir.tree"
		@changeDir="changeDir"
	  >
	  </asyncControl>
	</div>
	<div class="column">
	  <asyncFolder 
		:directory="currentDir" 
		:parent="title"
	  >
	  </asyncFolder>
	</div>
	</div>
  </div>
</template>

<script setup lang="ts">
 /* interfaces defined */
 import { ref, computed, defineAsyncComponent } from 'vue';
 import { NodeTree, NodeType, Options } from '../interfaces/NodeTree';
 import { DataDir } from '../interfaces/DataDir';

 /* contrib modules */

 import axios, { AxiosResponse } from 'axios';

 /*
	Components
  */

 const asyncFolder = defineAsyncComponent({
   loader: () => import("./folder.vue"),
   delay: 300,
   timeout: 3000   
})
 const asyncControl = defineAsyncComponent({
   loader:() => import("./control.vue"),
   delay: 300,
   timeout: 3000
})

 // styles from bulma css

 import 'bulma/css/bulma.css'


 let currentDir = ref<NodeTree>({
   name:"GNSS",
   type:"directory",
   idx: "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
   children:[]
 });


let dataLoaded = ref<boolean>(false)

 /* end-comp */
 let datadir = ref<DataDir>({
   directory:"GNSS",
   base_node:"GNSS",
   tree: currentDir.value,
 });


 const props = defineProps({
   element: {
     type: String, 
     default:"datadir-properties"
   }
 })


type PropType = {
   url:string,
   api: string,
   id: number
}


 const properties:PropType =  {
   "url": "http://localhost:8000/",
   "api": "api/data/",
   "id":1,
 };

let title = ref<string>("");


function beforeCreate(properties:PropType) {
   properties =  {...properties, ...readProperties()};
   const loaded = startDataDir(properties);
   return loaded;
}

beforeCreate(properties);

 function readProperties(){
   const json_html_element: HTMLElement =
	 document.getElementById(props.element)!;
   if (json_html_element){
	 let json:string = typeof json_html_element !== 'undefined'? json_html_element.textContent!:"{}";
	 let properties = JSON.parse(json);
	 return properties;
   } else {return {}}
 };

 function queryUrl(query:string|null){
   if (query !== null){
	 axios.get<DataDir>(query).then((response:AxiosResponse) => {
	   if (response.status===200 && response.data.tree){
		 onChangeDatadir(response.data);
		 dataLoaded.value = true;
		 return true;
	   }
	   else{
		 console.log("Bad response", response.status);
		 return false;
	   }
	 } );
   } else {
	 console.log("Link is null")
	 return false;
   }
 };

 function startDataDir(properties:PropType){
   // compose query url
   let {url, api, id} = properties;
   const inet1 = url.endsWith("/") ? "": "/";
   const inet = api.endsWith("/") ? "": "/";
   let query = `${url}${inet1}${api}${inet}${id}/`
   return queryUrl(query);
 }

 function onChangeDatadir(dataset:DataDir) {
   datadir.value = dataset;
   title.value = dataset.base_node;
   currentDir.value = dataset.tree;
   changeDir(dataset.tree)
 };


 function changeDir(directory:NodeTree){
   currentDir.value = directory;
 }

</script> 

<style scope>

body {
  background: white;
}

 .column {
  color: #8A8A8A;
 }

.line{
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 20px 20px;
    bottom: 20px;
    color: #666;
    font-weight: normal;
    padding: 12px 0;
    border-bottom: 4px solid #ddd;
    font-family: Open Sans,sans-serif,Verdana;
     font-weight: normal;
     font-size: 15px;
    text-transform: uppercase;
}

 
</style>
