<template v-if="props.file.type === 'file' ">
  <tr>
	<td 
	  v-if="hasOptions"
	  class="file-url has-text-left tabla">
	  <a :href="props.file.options?.url">
		{{props.file.name}}
	  </a>
	</td>
	<td 
	  v-else
	  class="file-url has-text-left">
	  <a>
		{{props.file.name}}
	  </a>
	</td>
	<td 
	  v-if="hasOptions"
	  class="file-size has-text-right">
	  {{props.file.options?.size}}
	</td>
	<td 
	  v-else
	  class="file-size has-text-right">
	  {{props.file.options?.size}}
	</td>
	<td 
	  v-if="hasOptions"
	  class="file-date has-text-right">
	  {{sp_date}}
	</td>
	<td 
	  v-else
	  class="file-date has-text-right">
		
	</td>
  </tr> 
</template>
<script setup lang="ts">
 import { NodeTree } from '../interfaces/NodeTree';
 import { ref, computed, PropType } from 'vue';

 /*
	Props: input object that define item
  */
 const props = defineProps({
   file: {
	 type: Object as PropType<NodeTree>, 
	 required: true
   }
 })

const hasOptions = computed(() => typeof props.file.options !== 'undefined');


const sp_date = computed( () => {;
   let date = props.file.options? props.file.options.created:"";
   return new Date(date).toLocaleDateString('es-ES')})

</script> 

<style type="text/css" scope>

body {
	font-family: Open Sans, sans-serif, Verdana;
}

</style>
