<template v-if="props.directory?.type === 'directory' " >
  <div class="children" :id="idx">
	<div class="bar-path">{{title}}</div>
	<section class="files">
	  <keep-alive>
		 <table class="table is-bordered is-striped is-fullwidth is-hoverable table-folder">
		   <thead>
			 <tr>
			   <th class="file-url">Archivo</th>
			   <th class="file-size">Tamaño</th>
			   <th class="file-date">Fecha</th>
			 </tr>
		   </thead>
		   <tbody>
			 <FileComponent 
			   v-for="item in filesChildren"
			   :file="item"
			 >
			 </FileComponent>
		   </tbody>
		 </table>
	  </keep-alive>
	</section>
  </div>
</template>
<script setup lang="ts">
 /* 
	Para ver solo: 
	archivos de este direcotorio ->
	Descartado:
	<section class="folders">
	<!-- folder children -->
	<folder 
	v-for="item in foldersChildren" 
	v-bind:directory="item" 
	v-bind:parent="title">
	</folder>
	</section>

  */
 import { NodeTree } from '../interfaces/NodeTree';
 import FileComponent from './file.vue';
 import { ref, computed, PropType } from 'vue';

 /*
	Props: input object that define item
  */
 const props = defineProps({
   directory: {
	 type: Object as PropType<NodeTree>, 
	 required: true
   },
   parent: {
	 name: String, 
	 required:true
   }
 })



 let title = computed(() => getTitle());


 let idx = computed(() => props.directory ? props.directory.idx:"");

 const hasChildren = computed(() => props.directory.children.length > 0)

 const filesChildren = computed(() => {
   if (props.directory){
	 if (props.directory.children){
	   return props.directory.children.filter( (item) => item.type==='file' )}}
 }
 );

 const foldersChildren = computed(() => {
   if (props.directory){
	 if (props.directory.children){
	   return props.directory.children.filter( (item) => item.type==='directory' )}}
 }
 );

 function getTitle(){
   if(props.directory){
	 let titleArray = [props.parent, props.directory.name];
	 return titleArray.join("/");;
   }
 }

 /*
	Get children and filter files -> draw table
	Get children and filter directory -> draw breadcrumbs
  */

</script> 

<style type="text/css" scope>


/* .bar-path {
 	display: flex;
   background-color: #007294;
   color: white;
   border-bottom: 1px solid  #6B6B6B;
   margin-bottom: 0px;
   margin-top: 10px;
   text-align: left;
   cursor: default;
 }
*/

body {
	font-family: Open Sans, sans-serif, Verdana;
}



.bar-path{
	padding-top: 5px;
	font-weight: bold;
  margin-top: 0px;
  font-size: 12.5px;
  cursor: default;
  color: #828282;
  text-align: left;
 
}

tr {
	width: 20px;
}

.table {
	background-color:#F6F6F6; /*#808080*/
	cursor: default;
	font-family: Open Sans, sans-serif, Verdana;
}

.file-url{
  text-align: left;
  width: 10%;
  color: #929292;
  font-family: Open Sans, sans-serif, Verdana;
  font-size: 12.5px;
}

 .file-size{
   text-align: right;
   width: 1%;
   font-size: 12.5px;
   color: #828282;
 }

 .file-date{
   text-align: right;
   width: 1%;
   font-size: 12.5px;
   color: #828282;
 }


</style>
